* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    background: rgb(44, 44, 44);
    margin: 5px;
    height: calc(100vh - 10px);
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.main-canvas {
    border-radius: 20px;
    border: 1px solid black;
}

.window {
    flex: 1 1 0;
    height: 100%;
    background: rgb(87, 87, 87);
    box-shadow: -3px 5px 0 0 rgb(14, 14, 14);
    border-radius: 20px;
}

.viewport-window {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.controls-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grid-controls {
    width: 90%;
    height: fit-content;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.number-input-box {
    max-width: 200px;
}
